.awesome {
  background: #222222 url(/images/alert-overlay.png) repeat-x;
  display: inline-block;
  padding: 5px 10px 6px;
  color: #fff;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  position: relative;
  cursor: pointer;
  &:visited {
    background: #222222 url(/images/alert-overlay.png) repeat-x;
    display: inline-block;
    padding: 5px 10px 6px;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    position: relative;
    cursor: pointer; }
  &:hover {
    background-color: #111;
    color: #fff; }
  &:active {
    top: 1px; } }

.small.awesome {
  font-size: 11px;
  padding: 0px;
  &:visited {
    font-size: 11px;
    padding: 0px; } }

.awesome, .medium.awesome {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
  &:visited {
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25); } }

.large.awesome {
  font-size: 14px;
  padding: 8px 14px 9px;
  &:visited {
    font-size: 14px;
    padding: 8px 14px 9px; } }

.green.awesome {
  background-color: #91bd09;
  &:visited {
    background-color: #91bd09; }
  &:hover {
    background-color: #749a02; } }

.blue.awesome {
  background-color: #2daebf;
  &:visited {
    background-color: #2daebf; }
  &:hover {
    background-color: #007d9a; } }

.red.awesome {
  background-color: #e33100;
  &:visited {
    background-color: #e33100; }
  &:hover {
    background-color: #872300; } }

.magenta.awesome {
  background-color: #a9014b;
  &:visited {
    background-color: #a9014b; }
  &:hover {
    background-color: #630030; } }

.orange.awesome {
  background-color: #ff5c00;
  &:visited {
    background-color: #ff5c00; }
  &:hover {
    background-color: #d45500; } }

.yellow.awesome {
  background-color: #ffb515;
  &:visited {
    background-color: #ffb515; }
  &:hover {
    background-color: #fc9200; } }
