html, body {
  height: 100%;
  background-color: #CCC; }

a {
  text-decoration: none; }

.wrapper {
  width: 960px;
  margin: 0px auto; }

.panel .heading {
  border-bottom: 1px solid #111; }
.panel .body {
  border-top: 1px solid #999;
  border-bottom: 1px solid #111;
  min-height: 90px;
  height: auto !important;
  height: 90px; }
.panel .footer {
  border-top: 1px solid #999;
  padding: 5px 0px; }

.panel {
  float: left;
  padding: 5px 10px 0px 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 3px #000000;
  -moz-box-shadow: 0px 2px 3px #000000;
  box-shadow: 0px 2px 3px #000000;
  width: 450px;
  min-height: 150px;
  height: auto !important;
  height: 150px;
  background-color: #666;
  margin-right: 10px;
  margin-bottom: 10px; }
  .panel .title {
    cursor: pointer;
    color: #fff;
    font-size: 2.0em;
    padding-top: 5px;
    text-shadow: #111 0px 2px 1px; }

#header {
  padding: 5px 0px 15px 0px;
  background-color: #666;
  -webkit-box-shadow: 0px 2px 3px #000000;
  -moz-box-shadow: 0px 2px 3px #000000;
  box-shadow: 0px 2px 3px #000000; }
  #header #menu {
    float: left;
    clear: both; }
    #header #menu li {
      float: left;
      list-style-type: none;
      margin-right: 5px; }

#content {
  padding-top: 25px; }

.clear {
  display: block;
  clear: both; }
