/*
Syntax error: Invalid CSS after ": {": expected pseudoclass or pseudoelement, was " {"
        on line 183 of style.scss

178: 
179: .no-boxshadow {
180:   input:invalid, textarea:invalid {
181:     background-color: #f0dddd; } }
182: 
183: : {
184:   &:-moz-selection, &:selection {
185:     background: #FF5E99;
186:     color: #fff;
187:     text-shadow: none; } }
188: 

Backtrace:
style.scss:183
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:821:in `expected'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:796:in `expected'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:779:in `expr!'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:555:in `pseudo'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:446:in `simple_selector_sequence'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:426:in `_selector'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:409:in `selector'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:398:in `selector_sequence'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:315:in `ruleset'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:339:in `block_child'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:333:in `block_contents'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:57:in `stylesheet'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/scss/parser.rb:26:in `parse'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:205:in `_to_tree'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/engine.rb:177:in `to_tree'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/files.rb:44:in `tree_for'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/plugin.rb:220:in `update_stylesheet'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/plugin.rb:71:in `block in update_stylesheets'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/plugin.rb:71:in `each'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/sass/plugin.rb:71:in `update_stylesheets'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/haml/exec.rb:437:in `watch_or_update'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/haml/exec.rb:351:in `process_result'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/haml/exec.rb:41:in `parse'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/lib/haml/exec.rb:21:in `parse!'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/gems/haml-3.0.22/bin/sass:8:in `<top (required)>'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/bin/sass:19:in `load'
/Users/jonathan/Developer/.rvm/gems/ruby-1.9.2-p0/bin/sass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \": {\": expected pseudoclass or pseudoelement, was \" {\"\A         on line 183 of style.scss\A \A 178: \A 179: .no-boxshadow {\A 180:   input:invalid, textarea:invalid {\A 181:     background-color: #f0dddd; } }\A 182: \A 183: : {\A 184:   &:-moz-selection, &:selection {\A 185:     background: #FF5E99;\A 186:     color: #fff;\A 187:     text-shadow: none; } }\A 188: "; }
