#header
  .wrapper
    %ul#menu
      %li
        %button.awesome.medium.green One
      %li
        %button.awesome.medium.red Two
      %li
        %button.awesome.medium.blue Three
    .clear
#content
  .wrapper
    .panel
      .heading
        %a.title{href:"/projects/project-one"} Project One
      .body
        body
      .footer
        footer
    .panel
      .heading
        %a.title{href:"/projects/project-two"} Project Two
      .body
        body
      .footer
        footer
    .panel
      .heading
        %a.title{href:"/projects/project-three"} Project Three
      .body
        body
      .footer
        footer

#footer
  .wrapper