#header
  .wrapper
    %ul#menu
      %li
        %button.awesome.medium.green One
      %li
        %button.awesome.medium.red Two
      %li
        %button.awesome.medium.blue Three
    .clear
#content
  .wrapper
    .panel
      .heading
        .title Project One
      .body
        body
      .footer
        footer
    .panel
      .heading
        .title Project Two
      .body
        body
      .footer
        footer
    .panel
      .heading
        .title Project Three
      .body
        body
      .footer
        footer

#footer
  .wrapper